.site-footer {
    background: var(--bg-color-trans-m);
    max-width: var(--main-body-width);
    margin-left: auto;
    margin-right: auto;
}

.site-info {
    font-size: 13px;
    color: var(--text-secondary);
    gap: 8px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-info p {
    margin: 0;
}

.footer-device {
    color: var(--text-tertiary);
}

.footer-device i {
    color: #ffc0cb;
    display: inline-block;
}