.header-container {
    --site-header-width: 75px;
    display: grid;
    min-height: var(--site-header-width);
    border: 0;
}

/*for overlap but keep in flow*/
.header-container>* {
    grid-column: 1;
    grid-row: 1;
}

.site-header {
    width: 100%;
    height: var(--site-header-width);
    background: 0 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    /* position: sticky; */
    z-index: 10;
    top: 0;
}

/* .site-header:hover {
    background-color: #fff
} */

.site-header.iconsearch {
    font-size: 18px;
    font-size: 1.125rem;
    position: relative;
    z-index: 9998
}

.site-header.iconsearch:hover {
    cursor: pointer;
    color: #999
}

.site-header:hover,
body.scroll-down .site-header {
    position: fixed;
    background: var(--bg-color-trans-d);
    box-shadow: 0 1px 40px -8px rgba(0, 0, 0, .5);
    /* z-index: 10; */
}

.site-header:only-child {
    background: var(--bg-color-trans-d);
}

.lower li:hover ul {
    display: inline-block;
    -webkit-transition: all .4s;
    transition: all .4s
}

.lower li ul li {
    width: 100%;
    margin: 0
}

.site-header .lower {
    opacity: 1;
}

/* hide this if has an sibling (for example a bg image)*/
.site-header:not(:only-child) .lower {
    opacity: 0;
}

.site-header:not(:only-child):hover .lower,
body.scroll-down .site-header:not(:only-child) .lower {
    opacity: 1;
    animation: searchbox 1s;
}



.site-top {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
}

.site-top img {
    display: block;
}

.site-top .lower {
    font-size: 16px;
    flex-grow: 1;
}

.site-top .site-top-aside {
    flex-basis: 150px;
    /* overflow: overlay; */
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.site-top .site-top-aside * {
    margin: auto 0;
}

.site-top .site-top-aside:last-child {
    justify-content: right;
}

.site-top>.site-branding {
    animation: sitetop 1s
}

/* .site-top>*:not(.site-branding) {
    animation: searchbox 1s;
} */

.site-top ul {
    list-style: none;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.site-top ul li {
    /* float: left;
    margin-left: 28px; */
    position: relative;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.site-top ul li a {
    padding: 10px 0;
    display: inline-block;
    color: var(--text-secondary);
}

.site-top ul li a:hover {
    color: var(--theme-main-color);
}

.site-top ul li a:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -16px;
    height: 6px;
    background-color: var(--theme-main-color);
    width: 100%;
    max-width: 0;
    transition: max-width .25s ease-in-out
}

.site-top ul li ul li a:after {
    content: "";
    display: none;
    position: absolute;
    bottom: -21px;
    height: 6px;
    background-color: var(--theme-main-color);
    width: 100%;
    max-width: 0;
    transition: max-width .25s ease-in-out
}

.site-top ul li a:hover:after {
    max-width: 100%
}



.site-title-mb {
    font-size: 20px;
    margin-right: 10px
}

.site-title-mb a {
    color: #eee;
    font-weight: 400;
}

.site-title-mb a:hover {
    color: #fff;
    font-weight: bold;
}

.site-title-mb img,
.site-title img {
    height: 40px;
    margin-top: 17px;
    opacity: .75;
    -webkit-transition: color .2s ease-out, border .2s ease-out, opacity .2s ease-out;
    -moz-transition: color .2s ease-out, border .2s ease-out, opacity .2s ease-out;
    transition: color .2s ease-out, border .2s ease-out, opacity .2s ease-out;
}

.site-title-mb img:hover,
.site-title img:hover {
    opacity: 1;
}

@media (max-width:860px) {
    .site-header {
        display: none;
    }
}



.logolink a {
    color: var(--theme-main-color);
    float: left;
    font-size: 20px;
    font-weight: 800;
    height: 56px;
    line-height: 56px;
    padding-left: 35px;
    padding-right: 15px;
    padding-top: 11px;
    text-decoration-line: none;
}




/* === header contaienr === */
.headertop {
    animation: header 1s;
}

.headertop {
    height: 550px;
    position: relative;
    overflow: hidden;
}

.headertop::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-attachment: fixed;
    z-index: 1;
}

.headertop.filter-undertint::before {
    background-color: rgba(255, 255, 255, .3);
}

.headertop.filter-dim::before {
    background-color: rgba(0, 0, 0, .3);
}

.headertop.filter-grid::before {
    background-image: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/grid.png);
}

.headertop.filter-dot::before {
    background-image: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/dot.gif);
}

@media (max-width:860px) {
    .headertop.filter-dot::before {
        background-image: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/grid.png);
    }
}

.headertop-bar::after {
    content: '';
    width: 150%;
    height: 4.375rem;
    background: var(--bg-color-primary);
    left: -25%;
    bottom: -2.875rem;
    border-radius: 100%;
    position: absolute;
    /* z-index: 2; */
}

.headertop-bar::after {
    transition: background 1s;
}

.headertop.height-full {
    height: 100vh;
}

.abs-stretch {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* === header image & info ===  */
#centerbg {
    object-fit: cover;
}

@supports (-webkit-touch-callout: none) {
    #centerbg {
        background-attachment: scroll !important;
    }
}

/* @media (max-width:860px) {
    #centerbg {
        height: 300px;
        background-attachment: scroll;
    }
} */



.focusinfo {
    z-index: 3;
    position: absolute;
    width: 100%;
    max-width: 800px;
    padding: 0 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    -webkit-transition: .4s ease all;
    -moz-transition: .4s ease all;
    -o-transition: .4s ease all;
    transition: .4s ease all;
}

@media (max-width:860px) {

    #video-container,
    .focusinfo {
        display: none;
    }
}

.focusinfo img {
    border-radius: 100%;
}



.center-text {
    margin: auto;
    font-family: Ubuntu, sans-serif;
    font-size: 80px;
    text-transform: uppercase
}

.glitch {
    position: relative;
    color: #fff;
    mix-blend-mode: lighten
}

.glitch:after,
.glitch:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    clip: rect(0, 0, 0, 0)
}

.glitch:before {
    left: -1px;
    text-shadow: 1px 0 #ff3f1a
}

.glitch:after {
    left: 1px;
    text-shadow: -1px 0 #00a7e0
}

.glitch:hover:before {
    text-shadow: 4px 0 #ff3f1a;
    animation: glitch-loop-1 .8s infinite ease-in-out alternate-reverse
}

.glitch:hover:after {
    text-shadow: -5px 0 #00a7e0;
    animation: glitch-loop-2 .8s infinite ease-in-out alternate-reverse
}

@-webkit-keyframes glitch-loop-1 {
    0% {
        clip: rect(36px, 9999px, 9px, 0)
    }

    25% {
        clip: rect(25px, 9999px, 99px, 0)
    }

    50% {
        clip: rect(50px, 9999px, 102px, 0)
    }

    75% {
        clip: rect(30px, 9999px, 92px, 0)
    }

    100% {
        clip: rect(91px, 9999px, 98px, 0)
    }
}

@keyframes glitch-loop-1 {
    0% {
        clip: rect(36px, 9999px, 9px, 0)
    }

    25% {
        clip: rect(25px, 9999px, 99px, 0)
    }

    50% {
        clip: rect(50px, 9999px, 102px, 0)
    }

    75% {
        clip: rect(30px, 9999px, 92px, 0)
    }

    100% {
        clip: rect(91px, 9999px, 98px, 0)
    }
}

@-webkit-keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(65px, 9999px, 119px, 0)
    }

    25% {
        top: -6px;
        left: 4px;
        clip: rect(79px, 9999px, 19px, 0)
    }

    50% {
        top: -3px;
        left: 2px;
        clip: rect(68px, 9999px, 11px, 0)
    }

    75% {
        top: 0;
        left: -4px;
        clip: rect(95px, 9999px, 53px, 0)
    }

    100% {
        top: -1px;
        left: -1px;
        clip: rect(31px, 9999px, 149px, 0)
    }
}

@keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(65px, 9999px, 119px, 0)
    }

    25% {
        top: -6px;
        left: 4px;
        clip: rect(79px, 9999px, 19px, 0)
    }

    50% {
        top: -3px;
        left: 2px;
        clip: rect(68px, 9999px, 11px, 0)
    }

    75% {
        top: 0;
        left: -4px;
        clip: rect(95px, 9999px, 53px, 0)
    }

    100% {
        top: -1px;
        left: -1px;
        clip: rect(31px, 9999px, 149px, 0)
    }
}



.focusinfo .header-avatar img {
    width: 130px;
    height: 130px;
    box-shadow: inset 0 0 10px #000;
    padding: 5px;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
}

.focusinfo .header-avatar img:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

.focusinfo.video-playing {
    top: 0;
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
}

.header-info {
    width: 63%;
    margin: auto;
    font-size: 16px;
    color: #EAEADF;
    background: rgba(0, 0, 0, .5);
    padding: 15px;
    margin-top: 22px;
    letter-spacing: 0;
    line-height: 30px;
    border-radius: 10px;
    box-sizing: initial;
    white-space: nowrap;
}

.header-info p {
    margin: 0;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
}

.top-social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.top-social img {
    height: 35px;
    width: 35px;
    padding: 6px;
    background: 0 0;
}

.top-social li {
    line-height: 0;
}


/* === header video === */
#bgvideo {
    position: absolute;
    width: 100%;
    height: 100%;
}

#bgvideo.focus {
    background: black;
}

#video-add,
#video-btn {
    position: absolute;
    bottom: 3px;
    right: 5px;
    width: 32px;
    height: 32px;
    z-index: 1;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    opacity: .8;
    -moz-animation: poi-face 10s linear infinite alternate;
    -webkit-animation: poi-face 10s linear infinite alternate;
    -o-animation: poi-face 10s linear infinite alternate;
    animation: poi-face 10s linear infinite alternate
}

#video-add:hover,
#video-btn:hover {
    opacity: 1
}

#video-btn {
    background-image: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/play@32x32.png)
}

#video-btn.video-playing {
    background-image: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/pause@32x32.png);
}

.video-stu {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    padding: 6px 15px;
    text-align: center;
    color: #FFF;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    font-size: 18px;
    -webkit-transition: .4s ease all;
    -moz-transition: .4s ease all;
    -o-transition: .4s ease all;
    transition: .4s ease all;
    z-index: 3;
}

.video-stu.show {
    transform: translateY(0);
}



.pattern-attachment-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-origin: border-box;
    background-image: var(--image-placeholder);
    width: 100%;
    height: 100%;
}

.pattern-center {
    display: grid;
}

.pattern-center>*,
.pattern-center::before {
    grid-row: 1;
    grid-column: 1;
}

.pattern-center::before {
    content: "";
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
}

.pattern-center>img {
    height: 400px;
    object-fit: cover;
}

.pattern-center header.pattern-header {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pattern-center h1.cat-title,
.pattern-center h1.entry-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    margin: auto;
    /* padding: 0;
    border: 0; */
    z-index: 1;
}

.pattern-center .cat-des {
    font-size: 16px;
    display: block
}

.pattern-center header.single-header {
    width: 100%;
    max-width: var(--main-body-width);
    padding: 0 4% 20px 4%;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0 auto;
}

@media (max-width:860px) {

    .pattern-center h1.cat-title,
    .pattern-center h1.entry-title,
    .single-header h1.entry-title {
        font-size: 26px
    }
}

.entry-census {
    font-size: 12px;
    margin: 0;
    color: #888
}

.single-header h1.entry-title {
    margin: 0;
    font-size: 32px;
    width: 100%
}

.single-header .entry-census {
    color: #fff;
    font-size: 14px;
    padding-top: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.single-header .entry-census span img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 12px
}

.single-header .entry-census a {
    color: #fff
}

.entry-header {
    margin: auto;
    text-align: center;
    padding-top: 40px;
}

.entry-header hr {
    width: 30%;
    background: #EFEFEF;
    margin: 20px auto;
}



.pc-menu {
    position: fixed;
    right: 15px;
    bottom: 0;
    z-index: 99;
    transform: translateY(100%);
    transition: transform 0.5s;
}

.changeSkin-gear {
    position: relative;
    right: 5px;
    background-color: var(--bg-color-container);
    padding: 10px;
    cursor: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/ayuda.cur), auto;
    border-radius: 10px 10px 0 0;
    transition: transform 0.5s;
    box-shadow: 0 0 5px var(--theme-main-color);
}

body.scroll-down .pc-menu {
    transform: translateY(0);
}


.skin-menu {
    position: absolute;
    width: 228px;
    bottom: 100%;
    margin-bottom: 10px;
    right: 0;
    border-radius: 5px;
    background-color: var(--bg-color-container);
    box-shadow: 0 1px 40px -8px rgb(0 0 0 / 50%);
    font-family: Ubuntu, sans-serif;
    transform: scaleX(0);
    transiton-property: transform, background;
    transition-duration: .3s, .3s;
}

.skin-menu.show {
    transform: scaleX(1);
}

.skin-menu::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--bg-color-container) transparent transparent transparent;
}

.skin-menu ul {
    padding: 0;
}

.skin-menu li {
    display: inline-block;
    cursor: pointer;
    backdrop-filter: contrast(0.7);
    -webkit-backdrop-filter: contrast(0.7);
}

.skin-menu li:hover {
    backdrop-filter: contrast(0.4);
    -webkit-backdrop-filter: contrast(0.4);
}

body.font-serif #font-btn1,
body.font-sans-serif #font-btn2,
.skin-menu li.selected {
    background-color: var(--theme-main-color);
    color: var(--theme-text-color);
}

.skin-menu,
.menu-list {
    text-align: center;
}

.skin-menu .menu-list li {
    margin: 6px;
    line-height: 36px;
    width: 36px;
    border-radius: 50%;
}

/* for the dark button */
body:not(.dark) .dark-toggle>*:nth-child(2) {
    display: none;
}

body.dark .dark-toggle>*:nth-child(1) {
    display: none;
}

.skin-menu .font-family-controls {
    margin: 16px 10px;
    display: flex;
    gap: 10px;
}

.skin-menu .font-family-controls li {
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    flex-basis: 50%;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;
}

.control-btn-serif {
    font-family: 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif', source-han-serif-sc, 'PT Serif', 'SongTi SC', 'MicroSoft Yahei', Georgia, serif;
}

.control-btn-sans-serif {
    font-family: Ubuntu, sans-serif;
}

.mobile-menu {
    visibility: collapse;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
}

.mobile-menu>* {
    background-color: var(--theme-main-color);
    color: var(--theme-text-color);
    cursor: pointer;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 2px 0 rgb(0 0 0 / 12%), 0 2px 2px 0 rgb(0 0 0 / 24%);
    transform: scale(0);
    transition: transform .3s;
    display: flex;
}

body.scroll-down .mobile-menu>* {
    transform: scale(1);
}

.mobile-menu>*:hover {
    /* opacity: .8 */
    filter: contrast(0.4);
}

@media (max-width:860px) {
    .pc-menu {
        display: none;
    }

    .mobile-menu {
        visibility: visible;
    }
}