.article-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article-list:after {
    content: '';
    /* for gap */
}

.post-list-thumb {
    will-change: transform;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 1px 20px -8px rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: row-reverse;
}

.post-list-thumb i {
    margin-right: 5px;
    color: var(--text-tertiary);
    font-size: 14px
}

.post-list-thumb a {
    color: var(--text-primary);
}

.post-list-thumb .post-title h3 {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-wrap: break-word
}

.post-date,
.post-meta,
.post-meta a {
    color: var(--text-tertiary);
    font-size: 12px;
}

.comments-number {
    margin: 0 10px
}

.post-thumb {
    flex-basis: 55%;
}

.post-thumb a {
    height: 300px;
    display: block;
    overflow: hidden;
    border-radius: 0 10px 10px 0;
}

.post-thumb a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .6s
}

.post-thumb a img:hover {
    transform: scale(1.1)
}

.post-content-wrap {
    padding: 20px 40px;
    flex-basis: 0;
    flex-grow: 1;
}

.float-content .post-text {
    display: inline-block;
    text-align: justify;
    font-size: 14px
}

.float-content i {
    font-size: 25px;
}

.float-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 67.5px;
    overflow: hidden;
    text-align: left;
}

.post-list-thumb.reverse,
.post-list-thumb.alternate:nth-child(2n) {
    flex-direction: row;
}

.post-list-thumb.reverse .post-thumb a,
.post-list-thumb.alternate:nth-child(2n) .post-thumb a {
    border-radius: 10px 0 0 10px;
}

.post-list-thumb.reverse .post-content-wrap,
.post-list-thumb.alternate:nth-child(2n) .post-content-wrap {
    text-align: right;
}

@media (max-width:768px) {
    .float-content p {
        height: auto;
        display: block
    }

    .post-bottom {
        display: none
    }

    .float-content,
    .post-content-wrap,
    .post-thumb {
        width: 100%;
        left: 0
    }

    .post-list-thumb .post-content-wrap {
        text-align: left !important;
        margin: 0 !important;
        padding: 20px !important;
        float: none !important;
        box-shadow: none;
        border-top: 0
    }

    .post-list-thumb {
        flex-direction: column !important;
        height: auto
    }

    .post-list-thumb::before {
        content: '';
        width: 1px;
        height: 100px;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: -101px;
        z-index: 0
    }

    .float-content {
        box-shadow: none;
        padding: 0;
        margin: 0
    }

    .post-bottom {
        text-align: right
    }

    .post-thumb a {
        border-radius: 10px !important
    }
}

@media (max-width:600px) {
    .post-thumb a {
        height: 210px
    }

    .float-content .post-text {
        font-size: 13px;
        margin-bottom: 1em
    }
}